<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>

<h3>Comments</h3>
<div class="comment" ng-repeat="comment in post.comments">
	<b>{{ comment.name }}</b> | <b>{{ comment.email }}</b>
	<p>{{ comment.content }}</p>
</div>

<form class="form-new">
	<input type="text" ng-model="comment.name" placeholder="Name">
	<input type="text" ng-model="comment.email" placeholder="Email">
	<textarea rows="4" ng-model="comment.body" placeholder="Content">
	</textarea>
	<input type="button" ng-click="addComment(comment)" value="Comment">
	<p>{{ errorMessage }}</p>
</form>